$card-title-font-size: 1rem; //шрифт заголовков, не шапки

$list-group-no-action-item-padding: 56px; //неизвестный отступ 
$list-item-action-icon-margin: 16px; //отступы бокового текста от стенки
$list-item-dense-title-font-size: 0.9rem; //текст бокового меню
$list-item-dense-title-line-height: 1.1rem; //отступы снизу и сферху бок текста
